.settings {
  -webkit-transition: 0.5s;  
  -moz-transition: 0.5s;  
  -o-transition: 0.5s;  
  -ms-transition: 0.5s;  
  transition: 0.5s;
}

.settings-active {
  -webkit-transform: translateX(15%);  
  -moz-transform: translateX(15%);  
  -o-transform: translateX(15%);  
  -ms-transform: translateX(15%);  
  transform: translateX(15%); 
}