@keyframes redsq {
    from {background-color: red;}
    to {background-color: black;}
}

#redsquare {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: redsq;
    animation-duration: 4s;
}